header {
  width: 100%;

  .first-container {
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004797;

    .first-center-container {
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-flow: row nowrap;
      -webkit-box-pack: justify;
      justify-content: space-between;
      max-width: 1366px;
      margin: 0 auto;
      padding: 0 40px;
      position: relative;
      width: 100%;
      height: 100%;

      .image-container {
        width: 22.2%;
        display: flex;
        align-items: center;
        justify-content: end;

        a {
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 96px;
            max-height: 96px;
            max-width: 221px;
            width: 221px;
          }
        }
      }

      .first-nav-container {
        width: 77.8%;
        display: flex;
        flex-direction: column;

        .top-navigation {
          height: 35%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: end;

          ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;

            li {
              list-style: none;
              margin: 0 0px 0 24px;

              a {
                font-size: 14px;
                font-weight: 500;
                color: #ffffff;
                text-decoration: none;
              }
            }
          }
        }

        .finder-and-account-cart {
          height: 65%;
          display: flex;
          flex-direction: row;

          .finder-first-section {
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .account_cart {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: center;
            margin-top: 6px;

            .account_circle {
              position: relative;
            }

            .separator {
              margin-top: 3px;
              width: 1px;
              height: 23px;
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }

  .third-container {
    background-color: #ffffff;
  }
}
