<header>
  <div class="first-container">
    <div class="first-center-container">
      <div class="image-container">
        <a routerLink="/">
          <img src="/alkosto-logo-header.svg" alt="logo de alkosto">
        </a>
      </div>
      <div class="first-nav-container">
        <nav class="top-navigation">
          <ul>
            <li>
              <a routerLink="/">Venta: (601) 746 8001</a>
            </li>
            <li>
              <a routerLink="/">Servicio: (601) 407 3033</a>
            </li>
            <li>
              <a routerLink="/">Sigue tu pedido</a>
            </li>
            <li>
              <a routerLink="/nuestra-compañia/tiendas">Nuestras tiendas</a>
            </li>
            <li>
              <a routerLink="/">Catálogo</a>
            </li>
            <li>
              <a routerLink="/">Ayuda</a>
            </li>
          </ul>
        </nav>
        <div class="finder-and-account-cart">
          <app-search class="finder-first-section"></app-search>
          <nav class="account_cart">
            <app-my-account></app-my-account>
            <div class="separator"></div>
            <app-shopping-cart></app-shopping-cart>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <app-catalog></app-catalog>
</header>
