<div class="second-container">
  <div class="second-center-container">
    <ul class="menu">
      <li class="dropdown">
        <a href="#tecnologia">Tecnología</a>
        <ul class="dropdown-menu">
          <li><strong>Marcas</strong></li>
          <li><a href="#">Samsung</a></li>
          <li><a href="#">Apple</a></li>
          <li><a href="#">Huawei</a></li>
          <li class="divider"></li>
          <li><strong>Productos</strong></li>
          <li><a href="#">Celulares</a></li>
          <li><a href="#">Computadores</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#electrodomesticos">Electrodomésticos</a>
        <ul class="dropdown-menu">
          <li><strong>Marcas</strong></li>
          <li><a href="#">LG</a></li>
          <li><a href="#">Whirlpool</a></li>
          <li><a href="#">Mabe</a></li>
          <li class="divider"></li>
          <li><strong>Productos</strong></li>
          <li><a href="#">Lavadoras</a></li>
          <li><a href="#">Neveras</a></li>
          <li><a href="#">Microondas</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#llantas-y-vehiculos">Llantas y vehículos</a>
        <ul class="dropdown-menu">
          <li><strong>Marcas</strong></li>
          <li><a href="#">Michelin</a></li>
          <li><a href="#">Bridgestone</a></li>
          <li><a href="#">Goodyear</a></li>
          <li class="divider"></li>
          <li><strong>Motos</strong></li>
          <li><a href="#">De Calle</a></li>
          <li><a href="#">Automáticas</a></li>
          <li><a href="#">Enduro</a></li>
          <li><a href="#">Semiautomáticas</a></li>
          <li><a href="#">Carguero</a></li>
          <li><a href="#">Eléctricas</a></li>
        </ul>
      </li>
      
      <li class="dropdown">
        <a href="#muebles-y-colchones">Muebles y colchones</a>
        <ul class="dropdown-menu">
          <li><strong>Muebles</strong></li>
          <li><a href="#">Armarios</a></li>
          <li><a href="#">Bibliotecas</a></li>
          <li><a href="#">Centros de entretenimiento</a></li>
          <li><a href="#">Cajoneras y cómodas</a></li>
          <li><a href="#">Escritorios</a></li>
          <li><a href="#">Mesas y comedores</a></li>
          <li><a href="#">Muebles de cocina</a></li>
          <li><a href="#">Sillas</a></li>
          <li><a href="#">Sofás</a></li>
          <li class="divider"></li>
          <li><strong>Colchones y base camas</strong></li>
          <li><a href="#">Sencillo</a></li>
          <li><a href="#">Semi doble</a></li>
          <li><a href="#">Doble</a></li>
          <li><a href="#">Queen</a></li>
          <li><a href="#">King</a></li>
          <li><a href="#">Camas y base camas</a></li>
          <li><a href="#">Colchón con base cama</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#hogar">Hogar</a>
        <ul class="dropdown-menu">
          <li><strong>Habitación</strong></li>
          <li class="divider"></li>
          <li><strong>Baño</strong></li>
          <li class="divider"></li>
          <li><strong>Articulos de cocina</strong></li>
          <li class="divider"></li>
          <li><strong>Decoración</strong></li>
          <li class="divider"></li>
          <li><strong>Mesa y complementos</strong></li>
          <li class="divider"></li>
          <li><strong>Exterior</strong></li>
          <li class="divider"></li>
          <li><strong>Organización y aseo</strong></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#juguetes">Juguetes</a>
        <ul class="dropdown-menu">
          <li><strong>Juegos de mesa</strong></li>
          <li class="divider"></li>
          <li><strong>Juegos para exterior</strong></li>
          <li class="divider"></li>
          <li><strong>Juguetes para bebés</strong></li>
          <li class="divider"></li>
          <li><strong>Muñecas y accesorios</strong></li>
          <li class="divider"></li>
          <li><strong>Pistas y carros</strong></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#deportes">Deportes</a>
        <ul class="dropdown-menu">
          <li><strong>Bicicletas</strong></li>
          <li><a href="#">Bicicletas adulto</a></li>
          <li><a href="#">Bicicletas todoterreno</a></li>
          <li><a href="#">Bicicletas de ruta</a></li>
          <li><a href="#">Bicicletas eléctricas</a></li>
          <li><a href="#">Cascos para bicicletas</a></li>
          <li class="divider"></li>
          <li><strong>Ejercicio y fitness</strong></li>
          <li><a href="#">Bicicletas estáticas</a></li>
          <li><a href="#">Caminadoras y trotadoras</a></li>
          <li><a href="#">Elípticas</a></li>
          <li><a href="#">Multi gimnasios</a></li>
          <li><a href="#">Bancos y plataformas</a></li>
          <li class="divider"></li>
          <li><strong>Implementos deportivos</strong></li>
          <li><a href="#">Musculación</a></li>
          <li><a href="#">Básculas digitales</a></li>
          <li><a href="#">Accesorios de movilidad</a></li>
          <li><a href="#">Audífonos deportivos</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#pines">Pines</a>
        <ul class="dropdown-menu">
          <li><strong>DirecTV GO</strong></li>
          <li class="divider"></li>
          <li><strong>Licencias de software</strong></li>
          <li class="divider"></li>
          <li><strong>Membresías</strong></li>
          <li class="divider"></li>
          <li><strong>Netflix</strong></li>
          <li class="divider"></li>
          <li><strong>Paramount</strong></li>
          <li class="divider"></li>
        </ul>
      </li>

      <li><a href="#gildan">Ropa Gildan</a></li>
      <li><a href="#mercado">Mercado</a></li>
    </ul>
  </div>
</div>
