.main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 70%;

}

.card {
  -webkit-box-shadow: 0 0 4px 0 rgba(100, 100, 100, .25);
  -moz-box-shadow: 0 0 4px 0 rgba(100, 100, 100, .25);
  box-shadow: 0 0 4px 0 rgba(100, 100, 100, .25);
  margin: 1em 0;
  border-radius: 4px;
  width: 30%;
  height: 212px;
}

.card-header {
  padding: 16px 18px;
  color: #444444;
  background: #f5f5f5;
  border-radius: 4px 4px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h2.card-subtitle {
    width: 75%;
    margin-right: 4px;
    color: var(--text-color1);
    place-items: center;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  span.badge.bg-primary {
    color: #fff;
    background-color: #004797;
    padding: 5px 14px;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #004797;
    align-self: center;
  }

  span.badge.bg-secundary {
    color: #f00;
    background-color: #fff;
    padding: 5px 14px;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #ff0000;
    align-self: center;
  }
}

.card-body {
  padding: 16px 15px 0 15px;
  color: #444444;
  background-color: #fff;

  .horario-tienda {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-family: Arial, sans-serif
  }

  .accordion-button {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    padding-bottom: 16px;
    width: fit-content;

    .horario {
      display: flex;
      align-items: center;
      margin: 0;

      font-family: Arial,
      sans-serif i {
        padding: 0 8px;
        font-size: 16px;
        margin: 0;
        color: var(--text-color1);
      }
    }
  }

  .cont-info-card .collapse {
    position: absolute;
    z-index: 1000;
    background: #efefef;
    border-radius: 8px;
    box-shadow: rgb(126 126 126) 4px 4px 16px -4px;
    transform: translate(-6px, -6px);

    .list-horario {
      padding: 12px;
    }
  }

  .d-flex {
    display: flex;
  }

  .row {
    margin-right: -15px;
    margin-left: -15px;

    .btn-detail {
      width: 100%;
    }

    a {
      color: #eb5b25;
      background-color: transparent;
      text-decoration: none;
      font-family: Arial, sans-serif;

      .btn-card {
        padding: 12px 16px;
        text-align: center;
        background: #eb5b25;
        color: #fff;
        border-radius: 0 0 0 4px;
      }

      .bl-d {
        border-left: 1px dashed;
        border-radius: 0 0 4px 0;
      }
    }
  }
}

.icono img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 4px;
}

.arrow img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border-radius: 4px;
}


/*@media (min-width: 1200px) {
  .container {
    width: 65%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 70;
  }
}

@media (min-width: 768px) {
  .container {
    width: 80;
  }
}*/