.account {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  img {
    width: 26px;
  }

  span {
    font-size: 14px;
    color: #ffffff;
  }
}

.background-menu {
  display: none;
  width: 100%;
  height: calc(100vh - 112px);
  position: absolute;
  z-index: 100;
  top: 112px;
  left: 0px;
  background-color: rgba($color: #000000, $alpha: 0.8);
}
